<div class="footer_contain">
    <p class="footer_p">{{ texts.31e13262 }}</p>
    <div class="footer_links">
      <a href="{{ links.23 }}" target="_blank" class="footer_link w-inline-block">
        <p class="footer_p">{{ texts.5c24b9c }}</p>
      </a>
      <a href="{{ links.23 }}" target="_blank" class="footer_link w-inline-block">
        <p class="footer_p">{{ texts.32affa }}</p>
      </a>
      <a href="{{ links.702be787 }}" class="footer_link w-inline-block">
        <p class="footer_p orange">{{ texts.-4df286a6 }}</p>
      </a>
    </div>
  </div>