<div data-animation="default" class="nav-bar w-nav" data-easing2="ease-in-out-quint" data-easing="ease-in-out-quint" data-collapse="medium" role="banner" data-duration="800" id="top">
    <div class="container-5 w-container">
      <a href="{{ links.2f }}" aria-current="page" class="link-block-7 w-inline-block w--current">{%- image images.3bf686a4.url, images.3bf686a4.alt, '[]', 'loading="lazy" width="29"' -%}
        <div class="div-block-22"></div>
      </a>
      <nav role="navigation" class="nav-bg w-nav-menu">
        <a href="{{ links.55b8e8be }}" class="nav-bar-link w-nav-link">{{ texts.585238d }}</a>
        <a href="{{ links.11aa52 }}" sym-bind="{&quot;children&quot;:{&quot;type&quot;:&quot;Select&quot;,&quot;val&quot;:{&quot;from&quot;:{&quot;type&quot;:&quot;Variable&quot;,&quot;val&quot;:&quot;data&quot;},&quot;prop&quot;:&quot;91b8d221-fe0f-de16-a61a-9208acf61807&quot;}}}" class="nav-bar-link w-nav-link">{{ texts.-3b86e786 }}</a>
        <a href="{{ links.4b0e6111 }}" class="nav-bar-link w-nav-link">{{ texts.38b72420 }}</a>
        <a href="{{ links.23 }}" class="nav-bar-link hide w-nav-link">{{ texts.2e2fa2 }}</a>
      </nav>
      <div class="menu-btn w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>